.navigation ul li a .navigation-sub-icone {
  position: relative;
  display: block;
  min-width: 70px;
  height: 40px;
  line-height: 50px;
  text-align: center;
}
.navigation ul li a .navigation-sub-icone ion-icon {
  font-size: 1.4em;
}
.navigation ul li a .navigation-sub-titulo {
  position: relative;
  display: block;
  padding: 0 5px;
  height: 40px;
  line-height: 40px;
  text-align: start;
  white-space: nowrap;
}
.navigation-sub-titulo img {
  position: relative;
  display: block;
  margin-top: 10px;
}

#navigation-sub,
#navigation-sub2,
#navigation-sub3 {
  display: none;
}

#navigation-sub-relatorio,
#navigation-sub2-relatorio,
#navigation-sub3-relatorio {
  display: none;
}
